.home__title {
	padding-top: 2.5rem;
	padding-bottom: 2rem;
	font-size: 2rem;
	font-weight: bold;
	text-align: left;
	color: rgb(0, 72, 171);
}

.home__title--marked {
	color: rgb(170, 170, 170);
}

.home__table--row td,
.home__table--row th {
	vertical-align: middle;
}
